.basic{
    width: 100%;
    align-items: center;
}
.block{
    width:80%;
    margin: auto;
    background-color: rgb(151, 235, 235);
    text-align: center;
}
.title{
    width:80%;
    margin: auto;
    background-color: rgb(167, 252, 252);
}
.data{
    text-align: center;
    font-size: large;
}
